/* App.vue 에서만 사용 최대 화면 크기 고정용 */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* css */

/* 공용 */

/* 버튼 정렬*/
.button-wrapper{
    display: flex;
    gap: 20px;
}

/*flex 중앙 수직정렬*/
.flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contents-wrapper {
    gap: 30px;
}

.contents-gap-fifteen{
    gap: 15px;
}

.content-flex-start {
    align-items: flex-start;
}

.container-flex-between {
    justify-content: space-between;
}

.bold {
    font-weight: 800;
}

/* HomeView.vue */
/* BoardListView */
.searchbar-wrapper {
    gap: 10px;
}

/* BoardPagenation.vue */
.pagenation-box {
    margin: 10px 0 10px 0;
}
.pagenation-page {
    margin: 0 10px 0 10px;
}

/* BoardRead.vue */
.board-contents {
    min-height: 100px;
}

/* BoardWrite.vue */
.board-textarea {
    min-height: 100px;
    width: 700px;
}